.carousel .thumbs-wrapper {
    margin: 10px 0px;
}

.carousel.carousel-slider {
    border: 5px solid;
    border-color: rgba(221, 134, 19, 0.753);
}

@media screen and (max-width: 1200px) {
    .carousel .thumb {
        display: none;
    }

    .carousel.carousel-slider {
        border-color: rgba(221, 134, 19, 0.753);
    }
}