:root {
    --HAU-secondary-gap: 50px;
    --HAU-detail-gap: 8px;
    --HAU-heading-fs: 1.6rem;
    --HAU-p-fs: 1.1rem;
}

.HAU-main-container {

    padding: var(--global-mainContainer-pd);
}

.HAU-h2 {
    text-align: center;
    font-size: clamp(1.5rem, 3vw + 1rem, 3.4rem);
    color: var(--primary-black);
    font-weight: 500;
    font-family: var(--primary-font);
}

.HAU-secondary-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--HAU-secondary-gap);

}

.HAU-details-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: var(--HAU-detail-gap);
}

.HAU-heading {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--HAU-heading-fs);
    max-width: 900px;

}

.HAU-para {
    font-weight: 500;
    color: #676767;
    max-width: 800px;
    line-height: 30px;
    font-size: var(--HAU-p-fs);
    text-align: center;
}

.HAU-para-detail {
    font-weight: 500;
    color: #676767;
    max-width: 1050px;
    line-height: 32px;
    font-size: var(--HAU-p-fs);
    text-align: center;
    text-align: justify;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

}

.HAU-img {
    max-width: 100%;
    height: auto;
    width: 1100px;
}

@media all and (max-width: 1400px) {
    :root {
        --HAU-secondary-gap: 40px;
        --HAU-detail-gap: 8px;
        --HAU-heading-fs: 1.5rem;
        --HAU-p-fs: 1.05rem;

    }

    .HAU-secondary-container {
        margin-top: -10px;
    }
}

@media all and (max-width: 769px) {
    :root {
        --HAU-secondary-gap: 30px;
        --HAU-detail-gap: 8px;
        --HAU-heading-fs: 1.5rem;
        --HAU-h3-fs: 1.4rem;
        --HAU-p-fs: 1rem;
    }

    .HAU-secondary-container {
        margin-top: -5px;
    }


}


@media all and (max-width: 480px) {
    :root {
        --HAU-secondary-gap: 20px;
        --HAU-detail-gap: 6px;
        --HAU-heading-fs: 1.05rem;
        --HAU-p-fs: 0.9rem;
        --HAU-layoutDetail-gap: 0px;
    }

    .HAU-secondary-container {
        margin-top: 0px;
    }

    .HAU-para {
        line-height: 25px;
    }

    .HAU-para-detail {

        max-width: 1050px;
        line-height: 28px;


        &:not(:last-child) {
            margin-bottom: 10px;
        }

    }
}