@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

:root {
  --primary-black: #2C2C2C;
  --secondary-black: #4D4D4D;
  --tertiary-black: #7A7A7A;
  --primary-color: #FF9F0F;
  --secondary-color: #175717;
  --unique-font: 'Raleway', sans-serif;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Karla', sans-serif;
  --primary-font2: 'Montserrat', sans-serif;
  --global-mainContainer-pd: 3.2rem 11.5rem 7.3rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

body {
  background-color: #FBFBFB;
  overflow-x: hidden;
}

@media (max-width: 1400px) {
  :root {
    --global-mainContainer-pd: 2.8rem 8.5rem 7rem;
  }
}

@media (max-width: 1200px) {
  :root {
    --global-mainContainer-pd: 2.6rem 3.75rem 6.5rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --global-mainContainer-pd: 2.2rem 3.75rem 6.2rem;
  }
}

@media (max-width: 769px) {
  :root {
    --global-mainContainer-pd: 1.8rem 3rem 6rem;
  }

}

@media (max-width: 480px) {
  :root {
    --global-mainContainer-pd: 1.5rem 1.8rem 6rem;
  }
}