.FAQ-main-container {
    padding: var(--global-mainContainer-pd);
    min-height: 70vh;
}

:root {
    --faq-fs-question: 1.2rem;
    /* question font size*/
    --faq-fs-answer: 1.15rem;
    /* answer font size */
    --faq-lh-answer: 35px;
    /* answer line height */
    --faq-w-plus: 2rem;
    /* FAQ-plus sign width */
    --faq-w-minus: 2.5rem;
    /* FAQ-plus sign width */
}

.FAQ-section-heading {
    /* display and box model */
    margin-bottom: 20px;
    /* other */
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: clamp(1.2rem, 3vw + 0.5rem, 2.4rem);
    color: #298b03;
}

.FAQ {
    /* display and box model */
    padding: var(--global-mainContainer-pd);
}

.FAQ-stillHaveQuestion {
    /* display and box model */
    margin-bottom: 20px;
    /* other */
    text-align: center;
    font-weight: 600;
    font-size: 2rem;

}

.FAQ-card {
    /* display and box model */
    display: flex;
    height: auto;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 16px rgba(140, 140, 140, 0.25);
    border: 3px solid #40804065;
    padding: 18px 30px;
    /* other */
    background-color: #fbfbfd;
    cursor: pointer;
}

.FAQ-faqQuestion {
    /* display and box model */
    display: flex;
    width: 100%;
    /* positioning */
    justify-content: space-between;
    align-items: center;
    text-align: left;
    /* other */
    color: #525151;
    font-family: var(--primary-font);
    font-size: var(--faq-fs-question);
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.FAQ-card:hover .FAQ-faqQuestion {
    color: #13a036;
}

.FAQ-card-active {
    border: 3px solid #13a036;
}

.FAQ-active {
    color: #13a036;
}

.FAQ-plus,
.FAQ-minus {
    color: #6d6d6d;

}

.FAQ-plus {
    /* display and box model */
    display: block;
    /* other */
    font-size: var(--faq-w-plus);
    font-weight: 500;
}

.FAQ-minus {
    font-size: var(--faq-w-minus);
    font-weight: 500;
}

.FAQ-faqAnswer {
    /* display and box model */
    display: block;
    margin-top: -5px;
    max-width: 90%;
    /* other */
    text-align: justify;
    line-height: var(--faq-lh-answer);
    color: #808080;
    font-size: var(--faq-fs-answer);
    white-space: pre-wrap;
}

.FAQ-faqAnswer a {
    text-decoration: none;
    color: #F09308;
    transition: all 0.s;
}

.FAQ-faqAnswer a:hover {
    text-decoration: underline;
    color: #f3bc69;
}

/* color for links*/
.FAQ-faqContact a {
    text-decoration: none;
    color: #F09308;
}

.FAQ-moreQuestionsContainer {
    /* display and box model */
    display: flex;
    flex-direction: column;
    /* positioning */

    align-items: center;
}

.FAQ-faqContact {
    /* display and box model */
    display: block;
    max-width: 500px;
    /* other */
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    color: #808080;
    line-height: 39px;
}

/* responsiveness settings */
@media all and (max-width: 1200px) {
    :root {
        --faq-fs-question: 1.15rem;
        --faq-fs-answer: 1.05rem;
        --faq-w-plus: 1.5rem;
        --faq-w-minus: 2rem;
        --faq-lh-answer: 24px;
    }

    .FAQ-card {
        padding: 22px 20px;
    }

    .FAQ-faqAnswer {
        margin-top: 0px;
    }

    .FAQ-stillHaveQuestion {
        margin-bottom: 5px;
        margin-top: 25px;
        font-size: 2.5em;
    }

    .FAQ-faqContact {
        font-size: 1.2rem;
        line-height: 23px;
    }

    .FAQ-card {
        margin-bottom: 20px;
        padding: 15px 20px;
    }

    .FAQ-section-heading {
        /* display and box model */
        margin-bottom: 15px;

    }
}

@media all and (max-width: 850px) {
    :root {
        --faq-fs-question: 1rem;
        --faq-fs-answer: 0.95rem;
        --faq-w-plus: 1.5rem;
        --faq-w-minus: 1.7rem;
    }


    .FAQ-stillHaveQuestion {
        margin-bottom: 10px;
        margin-top: 30px;
        font-size: 2.8rem;
    }

    .FAQ-faqContact {
        font-size: 1rem;
    }

    .FAQ-faqAnswer {

        margin-top: 0px;

    }

    .FAQ-section-heading {
        /* display and box model */
        margin-bottom: 10px;

    }

    .FAQ-card {
        margin-bottom: 20px;
        padding: 10px 20px;
    }
}

@media all and (max-width: 550px) {
    :root {
        --faq-fs-question: 1rem;
        --faq-fs-answer: 0.9rem;
        --faq-w-plus: 1.2rem;
        --faq-w-minus: 1.5rem;
        --faq-lh-answer: 20px;
    }

    .FAQ-faqQuestion {
        text-align: left;
    }

    .FAQ-faqAnswer {
        line-height: 25px;
        margin-top: 0px;

    }

    .FAQ-section-heading {
        /* display and box model */
        margin-bottom: 7px;
        line-height: 25px;

    }

    .FAQ-stillHaveQuestion {
        font-size: 1.8rem;
        margin-top: 5px;
    }

    .FAQ-faqContact {
        font-size: 0.875rem;
        max-width: 300px;
    }

    .FAQ-card {
        margin-bottom: 16px;
        padding: 5px 10px;
    }
}